 * {
  box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

@import "reset";
@import "index";
@import 'font-awesome';
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";